<div id="<%= dom_id quote %>">
  <p>
    <strong>Title:</strong>
    <%= quote.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quote.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= quote.text %>
  </p>

  <p>
    <strong>User comment:</strong>
    <%= quote.user_comment %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= quote.publication_year %>
  </p>

  <p>
    <strong>Ispublic:</strong>
    <%= quote.ispublic %>
  </p>

</div>
